<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Benim_Musteri_TEST">
        <activity
            android:name=".TicketDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TicketCreationSuccess"
            android:exported="false"
            android:label="Ticket YARATILDI" />
        <activity
            android:name=".musteriTicketCreation"
            android:exported="false"
            android:label="Müşteri Talep Oluşturma"/>
        <activity
            android:name=".ChooseOneActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerChooseActivity"
            android:exported="false" />
        <activity
            android:name=".kurumLogin"
            android:exported="false"
            android:label="Kurum Giriş"/>
        <activity
            android:name=".kurumSignUp"
            android:exported="false"
            android:label="Kurum Kayıt"/>
        <activity
            android:name=".musteriTicketFollow"
            android:exported="false"
            android:label="Müşteri Talep Takibi"/>
        <activity
            android:name=".Tickets"
            android:exported="false"
            android:label="@string/title_activity_tickets" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:label="Kullanıcı" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>